* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: black;
}

.heading ul {
  display: flex;
}

.logo a {
  color: white;
  transition-duration: 1s;
  font-weight: 800;
}

.logo a:hover {
  color: rgb(240, 197, 6);
  transition-duration: 1s;
}

.heading ul li {
  list-style: none;
}

